---
http_interactions:
- request:
    method: get
    uri: http://pokeapi.co/api/v2/ability/?limit=20&offset=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"count":251,"next":"http://pokeapi.co/api/v2/ability/?limit=20&offset=40","previous":"http://pokeapi.co/api/v2/ability/?limit=20","results":[{"name":"suction-cups","url":"http://pokeapi.co/api/v2/ability/21/"},{"name":"intimidate","url":"http://pokeapi.co/api/v2/ability/22/"},{"name":"shadow-tag","url":"http://pokeapi.co/api/v2/ability/23/"},{"name":"rough-skin","url":"http://pokeapi.co/api/v2/ability/24/"},{"name":"wonder-guard","url":"http://pokeapi.co/api/v2/ability/25/"},{"name":"levitate","url":"http://pokeapi.co/api/v2/ability/26/"},{"name":"effect-spore","url":"http://pokeapi.co/api/v2/ability/27/"},{"name":"synchronize","url":"http://pokeapi.co/api/v2/ability/28/"},{"name":"clear-body","url":"http://pokeapi.co/api/v2/ability/29/"},{"name":"natural-cure","url":"http://pokeapi.co/api/v2/ability/30/"},{"name":"lightning-rod","url":"http://pokeapi.co/api/v2/ability/31/"},{"name":"serene-grace","url":"http://pokeapi.co/api/v2/ability/32/"},{"name":"swift-swim","url":"http://pokeapi.co/api/v2/ability/33/"},{"name":"chlorophyll","url":"http://pokeapi.co/api/v2/ability/34/"},{"name":"illuminate","url":"http://pokeapi.co/api/v2/ability/35/"},{"name":"trace","url":"http://pokeapi.co/api/v2/ability/36/"},{"name":"huge-power","url":"http://pokeapi.co/api/v2/ability/37/"},{"name":"poison-point","url":"http://pokeapi.co/api/v2/ability/38/"},{"name":"inner-focus","url":"http://pokeapi.co/api/v2/ability/39/"},{"name":"magma-armor","url":"http://pokeapi.co/api/v2/ability/40/"}]}'
  recorded_at: Sat, 30 Apr 2016 02:30:08 GMT
recorded_with: VCR 3.0.1
