---
http_interactions:
- request:
    method: get
    uri: http://pokeapi.co/api/v2/ability/?limit=5&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"count":251,"next":"http://pokeapi.co/api/v2/ability/?limit=5&offset=5","previous":null,"results":[{"name":"stench","url":"http://pokeapi.co/api/v2/ability/1/"},{"name":"drizzle","url":"http://pokeapi.co/api/v2/ability/2/"},{"name":"speed-boost","url":"http://pokeapi.co/api/v2/ability/3/"},{"name":"battle-armor","url":"http://pokeapi.co/api/v2/ability/4/"},{"name":"sturdy","url":"http://pokeapi.co/api/v2/ability/5/"}]}'
  recorded_at: Sat, 30 Apr 2016 02:36:15 GMT
recorded_with: VCR 3.0.1
